.header-search-input {
  width: 20rem;
}

.navbar-menu .is-info:focus {
  outline: none;
  box-shadow: none;
}

#pagination{
  margin : 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img {
  margin: 10px 10px;

  display: block;
  height: auto;
  width: 100%;
}

.product-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Aligns items to the left */
  gap: 20px; /* Gap between items */
}

.product-item {
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  align-items: center; /* Centers items horizontally */
  text-align: center; /* Text centered under the image */
  width: calc((100% - 40px) / 3); /* Adjust width to fit 3 items per row, accounting for the gap */
  background-color: #f5f5f5;
}

.product-item .image {
  margin-bottom: 1rem; /* Space between the image and text */
  width: 200px; /* Adjust as necessary */
  height: 200px; /* Adjust as necessary */
  display: flex;
  justify-content: center;
}

.product-item .image img {
  height: 100%; /* Image height matches the container */
  max-width: 100%; /* Prevents the image from exceeding container width */
  object-fit: cover; /* Adjusts the image to cover the container */
}

@media only screen and (max-width: 768px) {
  .product-item-container {
    justify-content: center; /* Center items on narrower screens for visual balance */
  }

  .product-item {
    flex-basis: 100%; /* One item per row on narrow screens */
  }

  .product-item .image {
    margin: 0 auto; /* Center the image */
    width: 200px; /* Image width on mobile */
  }
}

